html {
  box-sizing: border-box;
}
body {
  background: #ffffff;
  font-family: sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: auto;
}

.site-header {
  background-color: #333333;
  padding: 20px;
  text-align: left;
  color: #ffffff;
  font-weight: bold;
}

.body-area {
  padding: 15px;
}

.list-names-box {
  width: 50%;
  float: left;
}
.list-names {
  padding: 0px;
}
.list-names > .name-active {
  display: inline;
  text-align: left;
  margin-left: 10px;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
}

.list-names > .name-inactive {
  display: inline;
  text-align: left;
  margin-left: 10px;
  font-style: italic;
  font-weight: 600;
  color: gray;
  cursor: pointer;
}

.filter-title {
  float: left;
  clear: both;
  font-size: 2em;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 30px;
  padding-left: 10px;
  color: #333333;
}

.color-box {
  width: 50%;
  float: right;
  text-align: right;
  display: inline;
}

.square-gray {
  height: 25px;
  width: 25px;
  background-color: #E1E1E1;
  float: right;
  margin: 8px 8px 0 0;
}
.square-red {
  height: 25px;
  width: 25px;
  background-color: #F40101;
  float: right;
  margin: 8px 8px 0 0;
}

.square-green {
  height: 25px;
  width: 25px;
  background-color: #18c82b;
  float: right;
  margin: 8px 8px 0 0;
}
.square-blue {
  height: 25px;
  width: 25px;
  background-color: #2B9Dff;
  float: right;
  margin: 8px 8px 0 0;
}

.square-yellow {
  height: 25px;
  width: 25px;
  background-color: #F2BF44;
  float: right;
  margin: 8px 8px 0 0;
}
.square-purple {
  height: 25px;
  width: 25px;
  background-color: #890087; 
  float: right;
  margin: 8px 8px 0 0;
}

.active {
  border: 2px solid #000000;
  cursor: pointer;
}

.inactive {
  border: 2px solid #ffffff;
  cursor: pointer;
}

/* Listing container */
.listing-container {
  clear: both;
  float: left;
  padding: 12px;
  margin-top: 35px;
  display: inline;
  box-sizing: border-box;
}

/* Shapes */

.shape-container {
  border: 1px solid #cccccc;
  padding: 43px;
  float: left;
  margin: 0px 13px 20px 0;
  border-radius: 5px;
}
.shape-square {
  height: 125px;
  width: 125px;
  border: 1px;
}

.shape-round {
  height: 125px;
  width: 125px;
  border-radius: 50%;
}

.shape-oval {
  height: 50px;
  width: 100px;
  border-radius: 50%;
}

.shape-rectangle {
  height: 50px;
  width: 100px;
}

.shape-triangle {
	width: 0;
	height: 0;
	border-left: 62px solid transparent;
	border-right: 62px solid transparent;
	border-bottom: 50px solid #555;
}
